body{
    background: #f4e9f3;
}
h1{
    font-size:4rem;
    text-align : center;
}
.todo{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}
button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button {
    background-color: #4A90E2;
}

.add-button:hover {
    background-color: #357ABD; 
}

.delete-button {
    background-color: #E94E77; 
}

.delete-button:hover {
    background-color: #D32F7F; 
}

input[type="text"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid #B0BEC5; 
    border-radius: 5px;
    color: #37474F; 
}

ol {
    padding: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: #F5F5F5; 
    margin-bottom: 10px;
    border: 3px solid #CFD8DC; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative; 
  }

.text {
    flex: 1;
}

.delete-button {
    background-color: #E94E77; 
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
}
.done {
    text-decoration: line-through;
    color: gray;
  }
  
  .edit-button {
    background-color: #FFA726;
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .done-button {
    background-color: #8BC34A;
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
  }
  
